<ion-header>
  <ion-toolbar>
    <ion-title>Éxito</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="success-message">
    <ion-icon name="checkmark-circle" color="success" size="large"></ion-icon>
    <h2>{{ message }}</h2>
  </div>
  <ion-button expand="block" (click)="dismiss()">Cerrar</ion-button>
</ion-content>
