<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <div class="background">
    <div class="content-character" *ngIf="character">
        <img [src]="character.image" class="character-img">
      <div class="info">
        <h1 class="name">{{character.name}}</h1>
        <p class="other-info">Ki: {{character.ki}}</p>
        <p class="other-info">Max ki: {{character.maxKi}}</p>
        <p class="other-info">Raza: {{character.race}}</p>
      </div>
    </div>
  </div>




