<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>VILLANOS CAPTURADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Villains</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido principal de la página -->
  <div class="content-container">
    <h2>¡Encuentra a todos los villanos!</h2>
    
    <!-- Botón para navegar a otra ruta -->
  
  </div>
</ion-content>
