.fondo {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-image: url('https://media.sketchfab.com/models/8a84d278ab1247f4b6c0d304243a4973/thumbnails/bd440559b99746cc8c32575b53c45c47/2702d0339ff74920bf215999c632af57.jpeg');
    background-repeat: repeat;
    background-position: center;
    ///ocupar toda la pantalla
    background-size: cover;
    z-index: -1;
    padding: 0;
    margin: 0;
    overflow: visible;
  }

  ion-button {
    margin-top: 10px;
  }

  .content-container {
    padding: 20px; /* Añade padding para un mejor espaciado */
  }

  ion-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  ion-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  ion-col {
    display: flex;
    align-items: stretch;
  }
  .VillanButtom{
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    ///mover a la derecha
    margin-left: 10%;
  }

  .character-card {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 60%;
    min-height: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .character-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
  }
  .transferir{
    color: white;
    border-radius: 50px;
    margin-top: 10px;
    ///anchura del boton
    width: 50%;
    text-align: center;
    margin-left: 25%;
    
   
  }

  .character-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  ion-card-content {
    flex: 1;
    padding: 2px;
    text-align: center;
    ///agrandar veticalemnte
    
  }

  ion-card-content h2, ion-card-content p {
    margin: 0;
  }

  .info {
    font-weight: 700;
    text-align: center;
  }
