body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background-color: #573b8a;
    overflow: hidden; /* Evita que la página se desplace */
}

.main {
    width: 450px; /* Ancho fijo */
    height: 700px; /* Altura fija */
    background: url("https://img.freepik.com/fotos-premium/fondo-azul-radial_764664-19339.jpg?semt=ais_hybrid") no-repeat center/cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    position: absolute; /* Para que se mantenga fijo en la pantalla */
    top: 50%; /* Centrado verticalmente */
    left: 50%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Asegura el centro exacto */
}


#chk {
    display: none;
}
#chk:checked ~ .login {
    transform: translateY(0); /* Muestra la sección de login */
    transform: translateY(100%);
  }

  
  #chk:checked ~ .signup {
    /* Oculta la sección de sign up */
    transform: translateY(0);
  }



.signup, .login {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #b0b0b07c;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.fondo {
    background-color: #573b8a;
}

ion-input {
    width: 60%;
    background: #e0dede;
    display: flex;
    margin: 20px auto;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: #565353d0;
    font-weight: bold;
}

ion-button {
    width: 60%;
    margin: 10px auto;
    color: #ffffff88;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 5px;
    transition: 0.2s ease-in;
}

ion-button:hover {
    color: #b0b0b099; /* Gris claro para el texto del botón */
    background: #573b8a;
}

.login {
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: 0.8s ease-in-out;
}

#chk:checked ~ .login {
    transform: translateY(-500px);
}

ion-input::part(native) {
    color: #b0b0b0; /* Gris claro */
}

.title-icon {
    width: 700px;
    height: 150px;
}

ion-content {
    --background: #0240a572;
}

.goku-icon {
    position: absolute; 
    top: 50%; 
    left: 70%; 
    transform: translateX(-50%); 
    width: 200px;
    height: 300px; 
    z-index: 1;
}
.login-form {
    z-index: 2; 
}
.signup-form{
    z-index: 2; 
    margin-top: 50%;
}
#chk {
    display: none;
}

.signup label, .login label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

.signup input, .login input {
    width: 60%;
    height: 10px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  #chk:checked ~ .login {
    transform: translateY(-540px);
 
  }
  #chk:checked ~ .login label {
    transform: scale(1);
  }
  
  #chk:checked ~ .signup label {
    transform: scale(0.6);
  }

  
  .signup {
    transform: translateY(0);
  }
  .signup label{
    margin-top: 20%;
    transform: scale(.9);
    color: orange;
  }
 
  .login label{
	color: #091756;
	transform: scale(.6);
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
    margin-top: -25%;
}
