<ion-header>
  <ion-toolbar>
    <ion-title>Ranking de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let user of users">
          <ion-card-header>
            <ion-card-title>{{ user.nombre }}</ion-card-title>
            <ion-card-subtitle>Ranking: {{ user.ranking }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Usuario: {{ user.usuario }}</p>
            <p>Intercambios: {{ user.intercambios }}</p>
            <p>Personajes Capturados: {{ user.personajesCapturados }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
