.fondo{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-image: url('https://cloudfront-eu-central-1.images.arcpublishing.com/diarioas/YIV2DFVN3VFTVCB4MWJR2A6OKI.jpg');
    background-size: auto; 
    background-repeat: repeat; 
    background-position: top left; 
    z-index: -1;
    padding: 10px;
}

ion-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

ion-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

ion-col {
    display: flex;
    align-items: stretch; 
}
ion-card:hover{
    transform: scale(1.04);
    transition: transform 0.5s;
    cursor: pointer;
    background: rgb(21, 19, 19);
}

.character-card {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 60%;
    min-height: 300px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
}

.character-image {
    width: 100%;
    height: 200px; 
    object-fit: contain; 
    border-radius: 10px;
}

ion-card-content {
    flex: 1;
    padding: 15px;
    text-align: center;
}


ion-card-content h2, ion-card-content p {
    margin: 0;
}

.info{
    font-weight: 700;
}
ion-infinite-scroll-content{
    color: black;
}
ion-searchbar{
  width: 60%;
  background-color: black; 
  --background: black; 
  --color: white; 
  --placeholder-color: white; 
  --icon-color: white; 
  --clear-button-color: white; 
  border-radius: 8px; 
  padding: 5px; 
}
ion-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  ion-spinner {
    color: black; 
    --spinner-width: 50px; 
    --spinner-height: 50px; 
  }
  .scroll-container {
    scrollbar-width: thin; /* Establece el grosor de la barra de desplazamiento */
    scrollbar-color: #000 #f0f0f0; 
  }
  
  .scroll-container::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: black; 
    border-radius: 4px; 
  }
  
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: black; 
  }
  
  .loading-spinner {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  .favorite-icon-active {
    color: #ff0000;
  }
  
 
  
  

  
  


